{% extends "frame_base.html" %}

{% block head %}
{% end %}

{% block body %}
  <ul class="archive">
      <li>{{ '分页：' if len(pages)>0 else '' }}
          {% for page in pages %}
            <a href="javascript:" onclick="window.location.href='{{ page["url"] }}'" style="{{ 'font-weight: bold' if page["page_title"]==current_page else '' }};">{{ page["page_title"] }}</a>
          {% end %}
      </li>
    {% for entry in entries %}
      <li>
          <div class="title"><a href="javascript:" onclick="window.location.href='/blog/entry/{{ entry.slug }}'">{{ entry.title }}</a>
              <i class="sec_title">, &copy{{ get_authorname_by_id(entry.author_id) }},
                  @{{ entry.published.strftime('%Y-%m-%d %H:%M:%S') }}
                  {{ ", **加密**" if entry.is_encrypt else "" }}
                  {{ ""  if entry.is_public else ", 仅自己可见"}}
                  , 关键词:[{{ entry.search_tags if entry.search_tags is not None else "" }}]</i>
              <span style="font-size: 14px;color: #4b15b1;">
                  {% if quota %}
                  , 文字{{ entry.size }}B, 图片及附件{{ '%dKB' % (entry.attach_size/1024) }}
                  {% end %}
              </span></div>
          <div id="entry_brief">{{ get_text(entry.html) }}</div>
      </li>
    {% end %}
      <li>{{ "没有记录。" if len(entries)==0 else "" }}</li>
  </ul>
{% end %}
