<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/blog.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/blogPostStyle.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/zTreeStyle/zTreeStyle.css") }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}">
    {% block head %}{% end %}
</head>
<body>
<div id="mainwrapper">
    <header>

        <div id="logo"><a href="javascript:" onclick="showContent('/blog/archive0-10')">{{ escape(handler.settings["blog_title"]) }}
            </a>  大山里(inmountains.xyz)</div>
        <nav>
            {% if current_user %}
            <a href="javascript:" onclick="showContent('/blog/compose11')">{{ "新日记" }}</a>
            <a href="javascript:" onclick="showContent('/blog/compose12')">{{ "新博客" }}</a>
            <!-- <a href="#" onclick="showContent('/blog/myblogs0-10/');return false;" >我的……</a> -->
            <a href="javascript:" onclick="window.location.href='/auth/logout?next={{ url_escape(request.uri) }}'">-{{ "注销("+current_user.name+")" }}</a>
            {% else %}
            <a href="javascript:" onclick="showContent('/auth/login?next={{ url_escape(request.uri) }}');return false;" >{{ "登录" }}</a> -
            <a href="javascript:" onclick="showContent('/auth/create');return false;">{{ "注册新用户" }}</a>
            <!-- {% raw _('<a href="%(url)s">登录</a> - <a href="/auth/create">注册新用户</a>') % {"url": "/auth/login?next=" + url_escape(request.uri)} %} -->
            {% end %}
        </nav>
    </header>


    <div id="content">
        <section id="mainContent"><iframe src="{{content_url}}" frameborder="0" id="contentFrame" ></iframe></section>
        <section id="sidebar">
            <input type="text" id="searchText" placeholder="从标题、关键词、内容中检索信息" onkeydown="search_keydown(event);"/>
            <div id="adimage"><img src="{{ static_url("images/sidebar.gif") }}" alt=""/></div>
            <nav>
                <ul id="myBlogTree" class="ztree"></ul>
            </nav>
            <div id="rMenu">
                <input type="submit" id="m_new_blog" onclick="newBlog();" value="新博客" title="在当前文件夹新建博客"/>
                <input type="submit" id="m_new_diary" onclick="newDiary();" value="新日记" title="在日记文件夹下新建日记"/><hr>
                当前选中：<label id="m_lab_sel"></label><br>
                ID<input id="m_i_id" type="text" title="如果新增节点，请在当前编号后输入两位数字；如果当前节点是根文件夹，请输入>13的两位数字编码"/>
                名称<input id="m_i_name" type="text" title="请输入新增节点或修改后的节点名称"/><br>
                    <input type="submit" id="m_add" onclick="addTreeNode();" value="提交新增" />
                    <input type="submit" id="m_edit" onclick="editTreeNode();" value="提交修改" />
                    <input type="submit" id="m_del" onclick="deleteTreeNode();" value="删除选中" />
            </div>
        </section>
        <footer>

        </footer>
    </div>

    <div id="footerbar"><div id="git_src">Project Source: <a href="https://github.com/tigerwingxys/tigerwingblog">GitHub</a>
        <a href="https://gitee.com/tigerwing/tigerwingblog">码云Gitee</a>
    </div>Copyright 2019 Tigerwing(tigerwingxys@qq.com)</div>
</div>
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    {% if current_user %}
    <script src="{{ static_url("js/jquery.ztree.core.min.js") }}"></script>
	<SCRIPT type="text/javascript">
		<!--
		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
			    onClick: onClick,
                onRightClick: onRightClick
            }
		};

		function onRightClick(event, treeId, treeNode) {
		    if( !treeNode ){
		        zTree.cancelSelectedNode();
		        return;
            }
		    zTree.selectNode(treeNode);
            var info = "ID:" + treeNode.id +", 名称:" + treeNode.name;
            console.log(info);
            $("#m_lab_sel").html(info);
            $("#m_i_id").attr("value", treeNode.id);
    		showRMenu(treeNode.id, event.clientX, event.clientY);
		}
		function showRMenu(type, x, y) {
			$("#rMenu").show();

            y += document.body.scrollTop;
            x += document.body.scrollLeft;
            rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

			$("body").bind("mousedown", onBodyMouseDown);
		}
		function hideRMenu() {
			if (rMenu) rMenu.css({"visibility": "hidden"});
			$("body").unbind("mousedown", onBodyMouseDown);
		}
		function onBodyMouseDown(event){
			if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
				rMenu.css({"visibility" : "hidden"});
			}
		}
		function newDiary() {
            hideRMenu();
            showContent("/blog/compose11");
        }
        function newBlog() {
            hideRMenu();
			var nodes = zTree.getSelectedNodes();
			if(!nodes || nodes.length ==0 ){
			    return;
            }
			showContent("/blog/compose"+nodes[0].id);
        }
		function addTreeNode() {
			hideRMenu();
			var nodes = zTree.getSelectedNodes();
			if(!nodes || nodes.length ==0 ){
			    return;
            }
			var cat_id =$("#m_i_id").val();
			var parent_id = nodes[0].id;
			if( cat_id ==  parent_id ){
			    alert("ID不能与父节点相同！");
			    return;
            }
			var cat_name = $("#m_i_name").val();
			if( !cat_name || cat_name.length == 0 ){
			    alert("节点名称不能为空！");
			    return;
            }
			//ajax add
            var results = {};
            var param = '{ "method": "add", "cat_id": "'+cat_id+'" , "cat_name": "'+cat_name+'", "parent_id": "'+parent_id+'" }';
            //var param = { "method": "add", "cat_id": cat_id , "cat_name": cat_name, "parent_id": parent_id }; //后台json解析出错
            $.ajax({
                url: "/catalog/update", type: "post", contentType: "application/json", timeout: 30000, //超时时间：30秒
                async: false, dataType: "json", data: param,
                success: function (data) {
                    console.log(data);
                    results = data;
                    alert(data.message);
                    //refresh myblogtree
                    $.fn.zTree.init($("#myBlogTree"), setting, getMyBlogs());
                }, error: function (data) {
                    console.log(data);
                    alert(data.message);
                }
            });
		}
		function editTreeNode() {
			hideRMenu();
            let nodes = zTree.getSelectedNodes();
            if(!nodes || nodes.length ==0 ){
                return;
            }
			var cat_id =$("#m_i_id").val();
			var parent_id = nodes[0].id;
			if( cat_id !=  parent_id ){
			    alert("编辑时，不能修改ID！");
			    return;
            }
			var cat_name = $("#m_i_name").val();
			if( !cat_name || cat_name.length == 0 ){
			    alert("节点名称不能为空！");
			    return;
            }
            //ajax edit
            var results = {};
            var param = '{ "method": "modify", "cat_id": "'+cat_id+'" , "cat_name": "'+cat_name+'" }';
            $.ajax({
                url: "/catalog/update", type: "post", contentType: "application/json", timeout: 30000, //超时时间：30秒
                async: false, dataType: "json", data: param,
                success: function (data) {
                    console.log(data);
                    results = data;
                    alert(data.message);
                    //refresh myblogtree
                    $.fn.zTree.init($("#myBlogTree"), setting, getMyBlogs());
                }, error: function (data) {
                    console.log(data);
                    alert(data.message);
                }
            });
		}
		function deleteTreeNode() {
			hideRMenu();
            let nodes = zTree.getSelectedNodes();
            if(!nodes || nodes.length ==0 ){
                return;
            }
			var cat_id =$("#m_i_id").val();
            //ajax edit
            var results = {};
            var param = '{ "method": "delete", "cat_id": "'+cat_id+'" }';
            $.ajax({
                url: "/catalog/update", type: "post", contentType: "application/json", timeout: 30000, //超时时间：30秒
                async: false, dataType: "json", data: param,
                success: function (data) {
                    console.log(data);
                    results = data;
                    alert(data.message);
                    //refresh myblogtree
                    $.fn.zTree.init($("#myBlogTree"), setting, getMyBlogs());
                }, error: function (data) {
                    console.log(data);
                    alert(data.message);
                }
            });
		}

        function onClick(event, treeId, treeNode, clickFlag) {
            if ( "undefined" == typeof(treeNode.entry_url) ) {
                return;
            }
            showContent(treeNode.entry_url);
        }

        function getMyBlogs() {
            var tree = {};
            $.ajax({
                url: "/blog/myblogtree",
                type: "post",
                contentType: "application/json",
                timeout: 30000, //超时时间：30秒
                async: false,//false-同步（当这个ajax执行完后才会继续执行其他代码）；异步-与其他代码互不影响，一起运行。
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    tree = data;
                }, error: function (data) {
                    console.log(data);
                }
            });
            return tree;
        }

        var zTree, rMenu;
		$(document).ready(function(){
			$.fn.zTree.init($("#myBlogTree"), setting, getMyBlogs());
			zTree = $.fn.zTree.getZTreeObj("myBlogTree");
			rMenu = $("#rMenu");
		});
		//-->
    </SCRIPT>
    {% end %}
    <SCRIPT type="text/javascript">
		function showContent(gotoURL){
		    var iframeObj = document.getElementById("contentFrame");
		    iframeObj.setAttribute("src",gotoURL);
            var hs = 1.1 * (iframeObj.Document?iframeObj.Document.body.scrollHeight:iframeObj.contentDocument.body.offsetHeight);
		    if( hs < 760 ){
		        hs = 760;
            }
		    var hh = hs.toString();
            iframeObj.style.height= hh+"px" ;
        };
		
		function search_keydown(e) {
            var evt = window.event || e;
            if( evt.keyCode !== 13 ){
                return;
            }
            searchText = document.getElementById("searchText").value;
            gotoURL = "/blog/search0-10/"+searchText;
  		    iframeObj = document.getElementById("contentFrame");
		    iframeObj.setAttribute("src",gotoURL);
            /*iframeObj.height=(iframeObj.Document?iframeObj.Document.body.scrollHeight:iframeObj.contentDocument.body.offsetHeight)+200;*/

        };

        /*window.onload=function modify() {
            iframeObj = document.getElementById("contentFrame");
            iframeObj.height=window.innerHeight-80;
        };*/

	</SCRIPT>
{% block bottom %}{% end %}
</body>
</html>
