{% extends "frame_base.html" %}

{% block body %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}

<form action="/auth/create" method="POST" style="padding-left: 45%;padding-top: 20%">
  邮箱: <input name="email" id="email" type="text" title="帐户身份唯一标识" placeholder="xxx@yyy.zzz" style="width: 150px;"/>
    <span id="chk_hint" style="text-size:18pt;color:red;"></span><br><br>
  姓名: <input name="name" type="text" style="width: 150px;"/><br><br>
  密码: <input name="password" type="password" title="8-16位字符，区分大小写" placeholder="8-16位字符" style="width: 150px;"/>
    <br><br>
  {% module xsrf_form_html() %}
  <input type="submit" onclick="return checkEmail();" value="提交" style="width: 80px;margin-right: 20px;margin-left: 60px;"/>
</form>
{% end %}
{% block bottom %}
<script src="{{ static_url("js/utils.js") }}"></script>
<script type="text/javascript">
    function checkEmail() {
        let email = document.getElementById("email").value;
        return checkEmailSyntax(email, document.getElementById("chk_hint"));
    }
</script>
{% end %}