{% extends "frame_base.html" %}

{% block body %}

  {% if current_user and current_user.id == entry.author_id %}
    <form action="/blog/delete{{ entry.cat_id }}?id={{ entry.id }}" method="POST" style="color: red; font-size: 18px;">
        <span>请确认是否要从服务器删除该文章及相关附件，删除后将无法恢复！</span><br>
        <input type="submit" value="确定删除" style="width: 80px;">
        <input type="button" value="取消删除" onclick="window.location.href='/blog/entry/{{ entry.slug }}'" style="width: 80px;margin: 20px 20px 20px 20px;"><br>
          {% module xsrf_form_html() %}
        <input type="hidden" name="id" value="{{ entry.id }}">
    </form>
  {% end %}
  {% module Entry(entry) %}
{% end %}

{% block bottom %}
<script src="{{ static_url("js/jquery.min.js") }}"></script>
<script type="text/javascript">
    /*window.onload = function () {
        let imgList = document.getElementsByClassName("img");
        for( let i = 0; i < imgList.length; i ++){
            let aObj = imgList[i];
            alert(i);
            aObj.style.width = (aObj.Document?aObj.Document.body.scrollWidth:aObj.contentDocument.body.offsetWidth);
        }
    };*/
    $(document).ready(function () {
        var imgList = document.getElementsByTagName("img");
        for( var i = 0; i < imgList.length; i ++){
            var aObj = imgList[i];
            if( aObj.width > 1000){
                aObj.width = 1000;
            }
        }
        /*alert(document.getElementById("refresh_entry").value);
        if ("refresh" === document.getElementById("refresh_entry").value) {
            alert("alksdj");
            window.top.location.reload();
        }*/
    });
</script>
{% end %}