{% extends "frame_base.html" %}

{% block body %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}

<form action="/auth/forget_password" method="POST" style="padding-left: 45%;padding-top: 20%">
  邮    箱: <input name="email" id="email" type="text" tyle="width: 150px;" placeholder="xxx@yyy.zzz">
    <span id="chk_hint" style="text-size:18pt;color:red;"></span><br><br>
  {% module xsrf_form_html() %}
  <input type="submit" onclick="return checkEmail();" value="初始化密码" style="width: 100px;margin-right: 20px;margin-left: 60px;"/>
</form>
{% end %}
{% block bottom %}
<script src="{{ static_url("js/utils.js") }}"></script>
<script type="text/javascript">
    function checkEmail() {
        let email = document.getElementById("email").value;
        return checkEmailSyntax(email, document.getElementById("chk_hint"));
    }
</script>
{% end %}