{% extends "frame_base.html" %}

{% block body %}
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}

<form action="/auth/reset_password" method="POST" style="padding-left: 45%;padding-top: 20%">
    <span style="width: 80px;text-align: right; display:-moz-inline-box; display:inline-block; ">邮箱:</span>
    <input name="email" id="email" type="text" readonly="true" style="width: 150px;" value="{{ current_user.email }}"/> <br><br>
    <span style="width: 80px;text-align: right; display:-moz-inline-box; display:inline-block; ">旧密码:</span>
    <input id="old_password" name="old_password" type="password" title="8-16位字符，区分大小写" placeholder="8-16位字符" style="width: 150px;"/><br><br>
    <span style="width: 80px;text-align: right; display:-moz-inline-box; display:inline-block; ">新密码:</span>
    <input id="password" name="password" type="password" title="8-16位字符，区分大小写" placeholder="8-16位字符" style="width: 150px;"/><br><br>
    <span style="width: 80px;text-align: right; display:-moz-inline-box; display:inline-block; ">再次输入:</span>
    <input id="id_repeat" name="repeat_password" type="password" title="请再次输入密码" placeholder="请再次输入密码" style="width: 150px;"/>
    <span id="chk_hint" style="text-size:18pt;color:red;"></span><br><br>
  {% module xsrf_form_html() %}
  <input type="submit" onclick="return checkPassword();" value="重新设置密码" style="width: 100px;margin-right: 20px;margin-left: 84px;"/>
</form>
{% end %}
{% block bottom %}
<script src="{{ static_url("js/utils.js") }}"></script>
<script type="text/javascript">
    function checkPassword() {
        let repeat =document.getElementById("id_repeat");
        if( document.getElementById("password").value != repeat.value){
            document.getElementById("chk_hint").innerText = "两次输入密码不一致，请重新输入!";
            repeat.value = "";
            repeat.focus();
            return false;
        }
        return true;
    }
</script>
{% end %}